@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Raleway:400,500);
*{
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
  text-decoration: none;
}
a {
  text-decoration: none;
  color: #C9C59A;
}
h1, h2, h3 {
  font-size: 18pt;
}

html{
  font-size: 18px;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #DBEFFF;
  color: #C9C59A;
}
#inputzone {
  margin: 18% auto;
  text-align: center;
}
#inputzone h1 {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 3em;
  font-weight: normal;
}
#inputzone h2 {
  font-family: "Raleway", Arial, sans-serif;
  font-size: 1.3em;
  font-weight: 100;
  padding-bottom: 5px;
}
#inputzone h1:hover, #inputzone h2:hover {
  cursor: default;
}
input {
  margin: 10px auto;
  width: 300px;
  font-size: 1.2em;
  font-weight: 200;
  height: 40px;
  text-align: center;
}
.roam {
  margin-left: 30px;
}
.button {
  display: inline;
  cursor: pointer;
  width: 40px;
  height: 40px;
  line-height: 40px;
  padding: 6px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid #e3e3e3;
}
.button:hover {
  background-color: rgba(255 ,255 ,255 ,0.7);
}
#displayzone {
  font-size: 14pt;
  font-family: helvetica, Arial, sans-serif;
  font-weight: 100;
}
#displayzone h1 {
  font-family: "Raleway", sans-serif;
}
#displayzone ul {
  padding: 1%;
}
#displayzone li{
  margin: 30px;
  padding: 16px;
  height: 90px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.5);
}
#displayzone li:hover {
  background-color: rgba(255, 255, 255, 0.9);
}
li h1 {
  margin: 0 0 5px 0;
}
li p{
  margin: 5px 0 0 0;
  font-weight: lighter;
}
#displayzone .errmsg {
  margin-top: -10%;
  text-align: center;
  font-size: 2em;
}